.hero-section{
    padding: 3rem 0;
    background-image: url('/img/9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12% 0;
    opacity: 0.95;
    h1,p,h3{
        color: #fff;
        text-shadow: 0 1px 3px #000;
    }
}