.profile-showcase-section{
    padding: 1rem 0;
     

    .profile-bio{
        background-color:#ddd;
    }

    .img-fluid{
        width: 900px;
    }

    .pfofile-photo{
        margin: 20px 0;
        
    }

    .img-fluid{
        border: 5px solid rgb(12, 244, 47);
    }

    .btn{
        padding: 0.5rem ;
        background-image: linear-gradient(90deg,#8b62ff , #3b1bff);
        border: none;
        outline: none;
    }

    .hasan{
        width: 300px;
    }

    .content{
        margin-top: 80px;
    }
    .content-niloy{
        margin-top: 100px;
    }
    
}